    {{#pjaxPwa}}{{#withPjaxPwa}}<script src="{{#theme}}{{publicFilesUrl}}{{/theme}}/jquery-pjax-2.0.1.js" crossorigin="anonymous"></script>{{/withPjaxPwa}}{{/pjaxPwa}}
    {{#pjaxPwa}}{{#withPjaxPwa}}<meta name="mobile-web-app-capable" content="yes">{{/withPjaxPwa}}{{/pjaxPwa}}
    {{#pjaxPwa}}{{#withPjaxPwa}}<link rel="manifest" href="{{manifestUrl}}">{{/withPjaxPwa}}{{/pjaxPwa}}
