function updateOnlineStatus() {
  var s = document.getElementById("status")
  if (s) {
    s.innerHTML = "";
  }
}

function updateOfflineStatus() {
  var s = document.getElementById("status")
  if (s) {
    s.innerHTML = "Offline";
  }
}

window.addEventListener('online',  updateOnlineStatus);
window.addEventListener('offline', updateOfflineStatus);

function checkOnlineStatus() {
  if (navigator.onLine) {
    updateOnlineStatus()
  } else {
    updateOfflineStatus()
  }
}

checkOnlineStatus()
