if ('serviceWorker' in navigator) {
  console.log('Removing any existing service workers')
  navigator.serviceWorker.getRegistrations().then(function(registrations) {
    console.log('Got', registrations)
    const all = []
    for (let registration of registrations) {
      all.push(registration.unregister())
    }
    Promise.all(all).then((result) => {
      console.log('Finished removing service workers', result)
      alert('Removed ' + result.length + ' worker(s)')
    }).catch((e) => {
      console.error(e)
    })
  })
}
